.challengeContainer {
  background-color: #0a0a23;
  color: #ffdd00;
  padding: 30px 40px;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  max-width: 900px;
}

.codeBlock {
  background-color: #1a202c;
  color: #f0f0f0;
  padding: 15px;
  border-radius: 0.5rem;
  overflow-x: auto;
  width: 100%;
  position: relative;
  margin-top: 20px;
  box-sizing: border-box;
}

.codeLine {
  font-size: 0.9rem; /* Consistent font size */
  white-space: pre-wrap;
  width: 100%;
  background: transparent; /* No background */
  border: none; /* No border */
  outline: none; /* Remove focus outline */
  padding: 0; /* Remove padding */
  margin: 0; /* No margin */
  color: inherit; /* Inherit text color */
  resize: none; /* Prevent manual resizing */
  font-family: 'Fira Code', monospace;
  line-height: 1.4; /* Reduced line height */
  min-height: 1rem; /* Set minimum height for text area */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  overflow: hidden; /* Hide overflow to ensure the compact size */
  text-align: left; /* Align text to the left */
}

.runButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffac47;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.runButton:hover {
  background-color: #ff9021;
}

.outputBlock {
  background-color: #1a202c;
  color: #f0f0f0;
  padding: 15px;
  border-radius: 0.5rem;
  overflow-x: auto;
  width: 100%;
  position: relative;
  margin-top: 20px;
  min-height: 2rem;
  max-height: 8rem;
  overflow-y: auto;
}

.outputContainer {
  font-size: 0.9rem;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  color: inherit;
  resize: none;
  font-family: 'Fira Code', monospace;
  outline: none;
}

.languageLabel {
  position: absolute;
  bottom: -10px;
  right: 0;
  font-size: 0.75rem;
  color: #718096;
  padding: 0.25rem;
  background-color: #2d3748;
  border-top-left-radius: 0.5rem;
}
