/* ChallengeRush.module.css */

.container {
    display: flex;
    flex-direction: column;
    background-color: #1e2a38;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 70px;
  }
  
  .challengeRush {
    background-color: #2b3a4b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .header h2 {
    color: #f4b400;
    margin: 0;
    padding: 0;
  }
  
  .header p {
    margin: 10px 0 0 0;
  }
  
  .scoreCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .topScore {
    background-color: #33475b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
  }
  
  .playButton {
    background-color: #33475b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .playButton:hover {
    background-color: #435a6b;
  }
  
  .leaderboard {
    background-color: #2b3a4b;
    padding: 20px;
    border-radius: 10px;
  }
  
  .leaderboard h3 {
    color: #f4b400;
    margin: 0 0 20px 0;
  }
  
  .leaderboard ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .leaderboard li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #3b4a5b;
  }
  
  .leaderboard li span {
    width: 33%;
    text-align: center;
  }
  
  .rank {
    font-weight: bold;
  }
  
  .firstPlace {
    color: #f4b400;
  }
  .secondPlace {
    color: rgb(153, 228, 241);
  }
  .thirdPlace {
    color :rgb(245, 161, 245);
  }
  
  .firstPlace .rank {
    background-color: #afe68f;
    color: #2b3a4b;
    border-radius: 50%;
    padding: 5px 10px;
  }
  .secondPlace .rank{
    background-color: hsl(237, 33%, 79%);
    color: #2b3a4b;
    border-radius: 50%;
    padding: 5px 10px;
  }
  .thirdPlace .rank{
    background-color: hsl(308, 58%, 78%);
    color: #2b3a4b;
    border-radius: 50%;
    padding: 5px 10px;

  }

 
  