.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 350px; 
  background-color: #2b2f3a;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #f4b400;
}

.nav {
  color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin: 10px 0;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
}

.navItem:hover {
  color: #f4b400;
}


.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}


.dropdownItem {
  color: #fff;
  margin: 5px 0;
}
.dropdownItem:hover{
  color: #f4b400;
}

.dropdownIcon {
  margin-left: auto;
}

/* Custom scrollbar styling */
.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #43504d;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}