.codeBlock {
  position: relative;
  background-color: #1a202c; /* Dark blue-gray background */
  color: #f0f0f0; /* Light text color */
  padding: 1.5rem; /* Padding around the code */
  border-radius: 0.5rem; /* Rounded corners */
  overflow-x: auto; /* Horizontal scroll if code overflows */
  margin: 10px;
}

.codeContainer {
  font-size: 0.875rem; /* Smaller font size for code */
  white-space: pre; /* Preserve whitespace and formatting */
}

.languageLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75rem; /* Smaller font size for the language label */
  color: #718096; /* Light gray color for the label */
  padding: 0.25rem;
  background-color: #2d3748; /* Darker background for label */
  border-top-left-radius: 0.5rem; /* Rounded corner for the label */
}