.premiumAdContainer {
    background-color: #f8c227; /* Matching the yellow background */
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
  }
  
  .premiumAd h1 {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .premiumTag {
    color: #6C63FF; /* Matching the blue color */
  }
  
  .premiumAd ul {
    list-style: none;
    padding: 8px;
  }
  
  .premiumAd li {
    /* color: #6C63FF; */
    color: black;
    padding: 8px; /* Matching the blue color */
    font-size: 16px;
    margin: 10px 0;
  }
  
  .goPremiumButton {
    background-color: #6C63FF; /* Matching the blue button */
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .goPremiumButton:hover {
    background-color: #5a54d6;
  }
  
  /* Responsive Design */
  @media (max-width: 480px) {
    .premiumAd {
      padding: 15px;
      max-width: 90%;
    }
  
    .premiumAd h1 {
      font-size: 20px;
    }
  
    .premiumAd li {
      font-size: 14px;
    }
  
    .goPremiumButton {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
